html{background-color: rgb(255, 255, 255);

}
#menu{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    
    
    
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 5px solid purple;
  }

#formulario{
        font-size: 100%;
        text-align: center;
        margin: 5px;
        font-size: 1.5em;
        background: rgb(33, 0, 65);
        margin-bottom: 1em;
        color: #FFF;
        padding: 0.2em 0.6em;
        box-shadow: 2px 2px 2px rgba(33, 0, 65);
        border-collapse: collapse;
        border: 5px solid rgb(64, 12, 112);
        font-family: monospace, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 
  }

  *, *:after {
    box-sizing: border-box;
  }

  
  input[type="text"],textarea,select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 20px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    background-color: #0f424b;
    color: #305066;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  
  
  #button {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: rgba(255,255,255,0.1);
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #3ac162;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }
  

  
 